*.suo
*.user
/bin
/DroneHelper/bin
/DroneHelper/obj
/Common/bin
/Common/obj
/Profile_EVE/bin
/Profile_EVE/obj
/EnemyPrioritizer/bin
/EnemyPrioritizer/obj
/ActiveTanker/bin
/ActiveTanker/obj
/TargetColors/bin
/TargetColors/obj
/AutoTargeter/bin
/AutoTargeter/obj
/BroadcastHelper/bin
/BroadcastHelper/obj
/WeaponHelper/bin
/WeaponHelper/obj
/Common/evedata.db