*.suo
*.user
/bin
/DroneHelper/bin
/DroneHelper/obj
/Common/bin
/Common/obj
/Profile_EVE/bin
/Profile_EVE/obj
/EnemyPrioritizer/bin
/EnemyPrioritizer/obj
/ActiveTanker/bin
/ActiveTanker/obj
/TargetColors/bin
/TargetColors/obj
/AutoTargeter/bin
/AutoTargeter/obj
/BroadcastHelper/bin
/BroadcastHelper/obj
/WeaponHelper/bin
/WeaponHelper/obj
/FontSizer/bin
/FontSizer/obj
/EventNotifications/bin
/EventNotifications/obj
/RemoteControl/bin
/RemoteControl/obj
/JabberGateway/bin
/JabberGateway/obj
/Common/evedata.db
/_ReSharper.ShootBluesScripts